:root {
  --header-color: hsl(51, 82%, 60%);
  --text-bkcolor: hsl(51, 82%, 75%);
  --background-color: hsl(51, 82%, 90%);
}

body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
}

.index__title {
  text-align: center;
}

#editorWrapper {
  display: grid;
  width: 85%;
  margin: auto;
  padding-top: 2em;
}

#editorHead {
  text-align: center;
  border: 1px solid black;
  border-bottom: 0;
  font-size: 20px;
  background-color: var(--header-color)
}

#editor {
  background-color: var(--text-bkcolor);
  height: 35vh;
  border: 1px solid black;
  box-sizing: border-box;
}

#previewWrapper {
  display: grid;
  width: 95%;
  margin: auto;
  padding-top: 1em;
  font-family: Arial, sans-serif;
}

#preview {
  background-color: var(--text-bkcolor);
  height: 40vh;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: auto;
}
